@font-face {
	font-family: 'Montserrat Bold';
	src: url('../font/Montserrat-Bold.eot');
	src: local('☺'), url('../font/Montserrat-Bold.woff') format('woff'), url('../font/Montserrat-Bold.ttf') format('truetype'), url('../font/Montserrat-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src:  url('../font/Roboto-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat Light';
	src: url('../font/Montserrat-Light.eot');
	src: local('☺'), url('../font/Montserrat-Light.woff') format('woff'), url('../font/Montserrat-Light.ttf') format('truetype'), url('../font/Montserrat-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



*{
    margin: 0;
    padding: 0;
    
}
body {
  
}

.wrapper{
    max-width: 320px;
    margin: 0 auto;
}

.header {
    background-image: url(../img/bg_m.jpg);
    background-position: center;
    height: 540px;
}

.header-ref {
        padding: 1.6em 0 0.8em 3.5em;
}

.header-ref1 {
    color: #fff;
    font: 700 1em 'Montserrat Bold';
    font-weight: bold;
    text-decoration: none;
    padding-right: 1em;
}

.header-ref1:hover {
    color: #71d379;
    text-decoration: none;
}

.header-ref2 {
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 25px;
    color: #fff;
    font: 700 1em 'Montserrat Bold';
    padding: 10px 20px 10px 20px;
    border: solid #fff 3px;
    text-decoration: none;
    }

.header-ref2:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    color: #71d379;
    text-decoration: none;
    }

.header-txt {
    padding: 5em 0 1em;
}

.header-txt-service {
    color: #fff;
    font: 700 1.1em 'Montserrat Bold';
    padding-left: 71px;
}

.header-txt-topic {
    color: #fff;
    font: 700 1.8em 'Montserrat Bold';
    padding: 1.2em 0 0 0.5em;
    text-align: center;
}

.header-txt-indent {
    color: #fff;
    font: 300 1em 'Roboto';
    padding: 1em 4em 1.2em;
    text-align: center;
}

.header-txt-btn {
    background: #FD4D4F;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 25px;
    color: #fff;
    font: 700 0.8em 'Montserrat Bold';
    padding: 12px 40px;
    margin-left: 3em;
    text-decoration: none;
}

.header-txt-btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.content-works {
    width: 90%;
    margin: 1em 1em 0;
}

.content-header {
    color: #333;
    font: 700 1.3em 'Montserrat Bold';
}

.content-works-first {
    background-image: url(../img/step1_m.jpg);
    height: 240px;
    margin-top: 0.5em;
}

.content-works-second {
    background-image: url(../img/step2_m.jpg);
    height: 240px;
    margin-top: 0.5em;
}

.content-works-third {
    background-image: url(../img/step3_m.jpg);
    height: 240px;
    margin-top: 0.5em;
}

.content-works-block {
    padding: 5em 0 0 1em;
}

.content-works-btn {
    background: #FD4D4F;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    color: #fff;
    font: 400 0.7em 'Montserrat Light';
    text-transform: uppercase;
    padding: 6px 20px 6px 20px;
    text-decoration: none;
}

.content-works-btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.content-works-top {
    color: #fff;
    font: 600 1.5em 'Montserrat Bold';
    padding-top: 1em;
}

.content-works-txt {
    color: #ccc;
    font: 300 .85em 'Roboto';
}
.content-holiday {
    width: 75%;
    margin: 1em auto;
}

.content-holiday-head {
    color: #333;
    font: 700 1.25em 'Montserrat Bold';
    text-align: center;
}

.co-worker1, 
.co-worker2, 
.co-worker3, 
.co-worker4{
    height: 200px;
    text-align: center;
    position: relative;
    margin-top: 1em;
}

.co-worker-txt {
    width: 11em;
    height: 50px;
    padding-top: 125px;
    
}

.co-worker1-img {
    background: url(../img/sprites1.png) 0 0;
	width: 121px;
	height: 121px;
    position: absolute;
    top: 1px;
    left: 55px;
}

.co-worker1-pic {
    background: url(../img/sprites3.png)  0 0;
	width: 45px;
	height: 45px;
    position: absolute;
    top: 83px;
    left: 133px;    
}

.co-worker2-img {
    background: url(../img/sprites1.png) 0 -129px;
	width: 121px;
	height: 121px;
    position: absolute;
    top: 1px;
    left: 55px;
}

.co-worker2-pic {
    background: url(../img/sprites3.png)  0 -52px;
	width: 45px;
	height: 45px;
    position: absolute;
    top: 83px;
    left: 133px;
}

.co-worker3-img {
    background: url(../img/sprites1.png) 0 -258px;
	width: 121px;
	height: 121px;
    position: absolute;
    top: 1px;
    left: 55px;
}

.co-worker3-pic {
    background: url(../img/sprites3.png) 0 -103px;
	width: 45px;
	height: 45px;
    position: absolute;
    top: 83px;
    left: 133px;
}

.co-worker4-img {
    background: url(../img/sprites1.png) 0 -387px;
	width: 121px;
	height: 121px;
    position: absolute;
    top: 1px;
    left: 55px;
}

.co-worker4-pic {
    background: url(../img/sprites3.png) 0 -153px;
	width: 45px;
	height: 45px;
    position: absolute;
    top: 83px;
    left: 133px;
}
.co-worker-name {
    color: #333;
    font: 700 .95em 'Montserrat Bold';
    padding-left: 3.5em;
}
.co-worker-feature {
    width: 120%;
    color: #666;
    font: 300 14px 'Roboto';
    padding-top: .5em;
}

.holiday-btn-box {
    margin-top: .5em;
}

.content-holiday-btn {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    padding: 10px 50px 10px 50px;
    border: solid #FD4D4F 2px;
    margin-top: 10px;
    color: #ff4e50;
    font: 700 .8em 'Montserrat Bold';
    text-decoration: none;
}

.content-holiday-btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.content-discover {
    margin: 2em .6em;
    text-align: center;
}

.content-discover-head {
    color: #333;
    font: 700 1.4em 'Montserrat Bold';
}
.content-discover1, 
.content-discover2, 
.content-discover3, 
.content-discover4, 
.content-discover5, 
.content-discover6, 
.content-discover7 {
    width: 100%;
    height: 121px;
    margin-top: 1em;
}

.content-discover-img1 {
    background: url(../img/sprites2.png) 0 0;
	width: 300px;
	height: 121px;
}

.content-discover-img2 {
    background: url(../img/sprites2.png) 0 -125px ;
	width: 300px;
	height: 121px;
}

.content-discover-img3 {
    background: url(../img/sprites2.png) 0 -249px ;
	width: 300px;
	height: 121px;
}

.content-discover-img4 {
    background: url(../img/sprites2.png) -304px -1px ;
	width: 300px;
	height: 121px;
}

.content-discover-img5 {
    background: url(../img/sprites2.png) -305px -124px ;
	width: 300px;
	height: 121px;
}

.content-discover-img6 {
    background: url(../img/sprites2.png) -303px -249px ;
	width: 300px;
	height: 121px;
}

.content-discover-img7 {
    background: url(../img/sprites2.png) -304px -375px ;
	width: 300px;
	height: 121px;
}

.content-discover-txt {
    color: #fff;
    font: 700 1.5em 'Montserrat Bold';
    padding-top: 2em;
}

.content-idea {
    width: 90%;
    margin: 1em 0 0 .6em;
    border-bottom: 3px solid #FD4D4F;
}

.content-idea-head {
    color: #333;
    font: 700 1.3em 'Montserrat Bold';
    text-align: center;
}

.content-idea-txt {
    color: #333;
    font: 300 1.1em 'Roboto';
    padding: 1em 0 1em .5em;
}

.content-idea-form {
    margin: 0;
   padding: .5em 0 0 .6em;
}

.form-style {
    padding: .7em 9em .7em .5em;
    border: 1px solid #ccc;
    border-radius: .5em;
}

.idea-btn-box {
    margin: 2em 1em 5em .5em;
}

.content-idea-btn {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    color: #fff;
    font: 700 .8em 'Montserrat Bold';
    background: #FD4D4F;
    padding: .7em 6.09em;
    text-decoration: none;
}

.content-idea-btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.footer {
    margin-top: 2em;
}

.footer-service {
    color: #ff4e50;
    font: 700 1em 'Montserrat Bold';
    padding-left: 5em;
    margin-top: 5em;
}

.footer-company {
    color: #333;
    font: 700 .85em 'Montserrat Bold';
    padding: 1em 0 1em 8em;
}

.footer-menu {
   padding-bottom: 2em; 
}

nav {
  max-width: 320px;
  margin: 0 auto;
}

ul {
  margin: 0;
  margin-left: 1em;
  list-style: none;
  float: left;
  height: 1em;
  line-height: 1em;
  text-align:center;
}

ul li {
  margin-left: 1.3em;
  display: inline-block;
}

ul li a {
    text-decoration: none;
    font: 300 .9em Roboto;
    color: #666;
}

.footer-partners {
    color: #333;
    font: 700 .85em 'Montserrat Bold';
    padding: 0 0 1em 8em;
}

.footer-design {
    color: #ccc;
    font: 700 .5em 'Montserrat Bold';
    text-transform: uppercase;
    margin: 0 0 1em 14em;
}

.footer-logo {
    margin: .5em 0 0 5em;
    padding-bottom: 1em;
}

@media (min-width:768px){
    .wrapper{
    min-width: 768px;
    margin: 0 auto;
}
    .header {
    background-image: url(../img/bg_t.jpg);
    background-position: center;
    height: 700px;
}
    .header-ref {
    padding: 2.5em 0 0.8em 33em;
}
    
    .header-txt {
    padding: 2em 0 0 .5em;
}

}

@media (min-width:960px){    

    
}