.sport_m, .wellnes_m, .extreme_m, .games_m, .culture_m, .relaxation_m, .travelling_m{
	background: url(sprites.png) no-repeat;
}

.sport_m{
	background-position: 0 0;
	width: 300px;
	height: 121px;
}

.wellnes_m{
	background-position: 0 -124px ;
	width: 300px;
	height: 121px;
}

.extreme_m{
	background-position: 0 -249px ;
	width: 300px;
	height: 121px;
}

.games_m{
	background-position: 0 -374px ;
	width: 300px;
	height: 121px;
}

.culture_m{
	background-position: 0 -499px ;
	width: 300px;
	height: 121px;
}

.relaxation_m{
	background-position: 0 -625px ;
	width: 300px;
	height: 121px;
}

.travelling_m{
	background-position: 0 -749px ;
	width: 300px;
	height: 121px;
}

